* text=auto !eol
/Makefile -text
/apertium-cv-ru.cv-ru.dix -text
/apertium-cv-ru.cv-ru.rlx -text
/apertium-cv-ru.cv-ru.t1x -text
/apertium-cv-ru.cv-ru.t2x -text
/apertium-cv-ru.cv-ru.t3x -text
/apertium-cv-ru.cv.lexc -text
/apertium-cv-ru.cv.twol -text
/cv-ru.prob -text
dev/test-sentences.txt -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
tests/cv-nominals.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
