* text=auto !eol
/Makefile -text
/apertium-cv-ru.cv-ru.dix -text
/apertium-cv-ru.cv-ru.rlx -text
/apertium-cv-ru.cv-ru.t1x -text
/apertium-cv-ru.cv-ru.t2x -text
/apertium-cv-ru.cv-ru.t3x -text
/apertium-cv-ru.cv.lexc -text
/apertium-cv-ru.cv.twol -text
/cv-ru.prob -text
dev/test-sentences.txt -text
/modes.xml -text
